body{
  font-family: Arial, 'Lucida Grande', sans-serif;
}
video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}
#title {
  font-size: 90px;
  margin-left: 42%;
  position: fixed;
  top: 15%;
}
#statement{
  font-size: 22px;
  color: #000000;
  margin-left: 36%;
  text-align: center;
  position: fixed;
  top: 38%;
}
#output{
  font-size: 66px;
  color: #43C59E;
  text-align: left;
  position: fixed;
  bottom: 35px;
  left: 10px;
  right: 10px;
}

#progress {
  background: #43C59E;
  position: fixed;
  bottom: 10px;
  left: 0;
  height: 30px;
  width: 0%;
}
img#connect-leap{

  max-width: 100%;
}

canvas{
  z-index: -1;
}
.stats {
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: #60D7F1;
}

.stat {
    margin-right: 200px;
    display: inline-block;
    float: right;
}

.message {
  z-index: 5;
  position: absolute;
  top: 90px;
  display: none;
  left: 40%;
  width: 200px;
  background-color: #60D7F1;
  border-radius: 20px;
  border: 10px solid #60D7F1;
  border-top: 25px solid #60D7F1;
}

.instructions {
  position: absolute;
}

#exercise-instruction {
  top: 90px;
  margin-left: 30px;
  font-size: 25px;
}

#exercise-title {
  margin-top: 20px;
  margin-left: 30px;
  font-size: 25px;
}

#count {
  margin-left: 30px;
  font-size: 25px;
}

#left_background {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 50%;
  z-index: -1;
  background-color: #EDEDED;
}
#right_background {
  position: absolute;
  border-left: 3px solid black;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 50%;
  z-index: -1;
  background-color: #43C59E;

}
