body{
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}
video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}
#title {
  font-size: 90px;
  color: #43C59E;
  left: 500px;
  text-align: center;
  position: fixed;
  top: 80px;
}
#output{
  font-size: 66px;
  color: #43C59E;
  text-align: left;
  position: fixed;
  bottom: 18px;
}

#progress {
  background: #43C59E;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 16px;
  width: 0%;
}
img#connect-leap{

  max-width: 100%;
}

canvas{
  z-index: -1;
}
.stats {
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: #60D7F1;
}

.stat {
    margin-right: 200px;
    display: inline-block;
    float: right;
}

.message {
  position: absolute;
  top: 90px;
  display: none;
  left: 40%;
  height: 150px;
  width: 200px;
  background-color: #60D7F1;
  border-radius: 20px;
  border: 10px solid #60D7F1;
  border-top: 25px solid #60D7F1;
}
#left_background {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 50%;
  z-index: -1;
  background-color: #EDEDED;
}
#right_background {
  position: absolute;
  border-left: 3px solid black;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 50%;
  z-index: -1;
  background-color: #43C59E;

}
