<html>
  <head>
    <title>Grab Strength Demo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r83/three.js'></script>
    <script src="https://js.leapmotion.com/leap-0.6.4.js"></script>
    <script src="//js.leapmotion.com/leap-plugins-0.1.12.js"></script>
    <script src="//js.leapmotion.com/leap-widgets-0.1.0.js"></script>
    <link rel="stylesheet" href="../css/application.css">
    <style>
     body {
        background-color: #EDEDED;
      }
    </style>
  </head>
  <body>
    <div class="message-wrapper">
      <div class="message">
        <h3>Grab Strength Practice</h3>
      </div>
      <div id="pinch-strength-instruction">
        <h4>Instructions: Give me Five grabs!</h4>
        
      </div>
    </div>
    <div id=output></div>
    <div id=progress></div>

    <audio id="grab_sound" src="../audio/Fuzzy-Beep.mp3" type="audio/ogg"></audio>
    <audio id="doing-well" src="../audio/you_are_doing_well.mp3" type="audio/ogg"></audio>
    <audio id="you-did-it" src="../audio/you-did-it.mp3" type="audio/ogg"></audio>
    <audio id="you_are_so_close" src="../audio/you_are_so_close.mp3" type="audio/ogg"></audio>

    <script src='../js/helpers/application.js'></script>
    <script src="../js/helpers/scene.js"></script>
    <script src="../js/controllers/grab-strength.js"></script>

  </body>

</html>
