<html>
  <head>
    <title>Pinch Strength Demo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r83/three.js'></script>
    <script src="https://js.leapmotion.com/leap-0.6.4.js"></script>
    <script src="//js.leapmotion.com/leap-plugins-0.1.12.js"></script>
    <script src="//js.leapmotion.com/leap-widgets-0.1.0.js"></script>
    <link rel="stylesheet" href="../css/application.css">
  </head>

  <body>
    <div class="message-wrapper">
      <div class="message">
        Insert Messages Here
      </div>
    </div>
    <div id=output></div>
    <div id=progress></div>
    <script src='../js/helpers/application.js'></script>
    <script src="../js/helpers/scene.js"></script>
    <script src="../js/controllers/pinch-strength.js"></script>
  </body>

</html>
