<!DOCTYPE html>
<html>
	<head>
		<meta charset=utf-8>
		<title>Fun-rehab</title>
		<link rel="stylesheet" href="../css/application.css">
		<style>
			body {background-color: #EDEDED;}
		</style>
	</head>
	<body>
    <div style="position: fixed; top:0px;" class="message-wrapper">
      <div class="message">
      	Hit the Jackrabbit and avoid hitting the red buttons
			</div>
        <p><span id="hit_count">0</span> Hits</p>
        <p><span id="lives_count">3</span> Lives</p>
    </div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r83/three.js"></script>
    <script src="https://js.leapmotion.com/leap-0.6.4.js"></script>
    <script src="//js.leapmotion.com/leap-plugins-0.1.12.js"></script>
    <script src="//js.leapmotion.com/leap-widgets-0.1.0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src='../js/helpers/application.js'></script>
    <script src="../js/helpers/scene.js"></script>
    <script src="../js/controllers/whackamole.js"></script>
		<script type="text/javascript">
			$(".message").fadeIn("slow");
			setTimeout(function() {
				$(".message").fadeOut("slow");
			}, 4000)
		</script>
	</body>
